# https://git-scm.com/docs/gitmailmap
# Replace antoine@hugounet.com adress in the git log
<hg4fpchw@anonaddy.me> <antoine@hugounet.com>
Kryzar <hg4fpchw@anonaddy.me> Antoine Hugounet <antoine@hugounet.com>
Kryzar <hg4fpchw@anonaddy.me> Antoine Leudière <hg4fpchw@anonaddy.me>
