include src/deaduction/share/graphical_resources/icons/letters/x.png
include src/deaduction/share/graphical_resources/icons/letters/w.png
include src/deaduction/share/graphical_resources/icons/letters/i.png
include src/deaduction/share/graphical_resources/icons/letters/l.png
include src/deaduction/share/graphical_resources/icons/letters/a.png
include src/deaduction/share/graphical_resources/icons/letters/e.png
include src/deaduction/share/graphical_resources/icons/letters/k.png
include src/deaduction/share/graphical_resources/icons/letters/c.png
include src/deaduction/share/graphical_resources/icons/letters/q.png
include src/deaduction/share/graphical_resources/icons/letters/p.png
include src/deaduction/share/graphical_resources/icons/letters/red/l.png
include src/deaduction/share/graphical_resources/icons/letters/red/e.png
include src/deaduction/share/graphical_resources/icons/letters/red/d.png
include src/deaduction/share/graphical_resources/icons/letters/red/tag_plus.png
include src/deaduction/share/graphical_resources/icons/letters/red/tag_different.png
include src/deaduction/share/graphical_resources/icons/letters/red/t.png
include src/deaduction/share/graphical_resources/icons/letters/s.png
include src/deaduction/share/graphical_resources/icons/letters/m.png
include src/deaduction/share/graphical_resources/icons/letters/d.png
include src/deaduction/share/graphical_resources/icons/letters/f.png
include src/deaduction/share/graphical_resources/icons/letters/z.png
include src/deaduction/share/graphical_resources/icons/letters/r.png
include src/deaduction/share/graphical_resources/icons/letters/o.png
include src/deaduction/share/graphical_resources/icons/letters/j.png
include src/deaduction/share/graphical_resources/icons/letters/g.png
include src/deaduction/share/graphical_resources/icons/letters/v.png
include src/deaduction/share/graphical_resources/icons/letters/trials/e.png
include src/deaduction/share/graphical_resources/icons/letters/trials/d.png
include src/deaduction/share/graphical_resources/icons/letters/trials/tag_plus.png
include src/deaduction/share/graphical_resources/icons/letters/trials/tag_different.png
include src/deaduction/share/graphical_resources/icons/letters/trials/t.png
include src/deaduction/share/graphical_resources/icons/letters/u.png
include src/deaduction/share/graphical_resources/icons/letters/y.png
include src/deaduction/share/graphical_resources/icons/letters/t.png
include src/deaduction/share/graphical_resources/icons/letters/n.png
include src/deaduction/share/graphical_resources/icons/letters/b.png
include src/deaduction/share/graphical_resources/icons/letters/blue/l.png
include src/deaduction/share/graphical_resources/icons/letters/blue/e.png
include src/deaduction/share/graphical_resources/icons/letters/blue/d.png
include src/deaduction/share/graphical_resources/icons/letters/blue/tag_plus.png
include src/deaduction/share/graphical_resources/icons/letters/blue/tag_different.png
include src/deaduction/share/graphical_resources/icons/letters/blue/t.png
include src/deaduction/share/graphical_resources/icons/letters/h.png
include src/deaduction/share/graphical_resources/icons/reset_action.png
include src/deaduction/share/graphical_resources/icons/info.txt
include src/deaduction/share/graphical_resources/icons/redo_action.png
include src/deaduction/share/graphical_resources/icons/undo_action.png
include src/deaduction/share/graphical_resources/icons/lean_editor.png
include src/deaduction/share/config.toml
include src/deaduction/share/hlists/lean-3.16.5-linux.hlist
include src/deaduction/share/hlists/lean-3.16.5-windows.hlist
include src/deaduction/share/hlists/mathlib.hlist
include src/deaduction/share/hlists/lean-3.16.5-darwin.hlist
include src/deaduction/share/locales/fr_FR/LC_MESSAGES/deaduction.mo
include src/deaduction/share/locales/fr_FR/LC_MESSAGES/deaduction.po
