PySide2>=5.15.0
shiboken2>=5.15.0
pytest>=5.4.3
pytest-cov>=2.10.0
qtrio==0.1.0
diff-match-patch>=20200713
parsimonious>=0.8.1
trio>=0.16.0
dictdiffer>=0.8.1
requests>=2.24.0
idna<3
dictdiffer>=0.8.1
toml>=0.10.1
pep517>=0.9.1
idna<3
pickle5>=0.0.11; python_version < '3.8'